.experience
{
    .ml2 
    {
        color: white;

        .letter 
        {
            display: inline-block;
            line-height: 1em;
        }
    }
    
    .title-bg 
    {
        background: rgba(0, 0, 0, 0.1);
        background-blend-mode: darken;
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: center;
        background-position-y: center;
        background-image: url("./image/about-me-hero-bg.jpg");
    }
}