<div class="social-badges">
    <div class="is-flex is-align-items-center">
        <div class="px-3 is-flex is-align-items-center" @click="gotoLinkedin">
            <span class="icon is-large">
                    <svg stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <use xlink:href="~feather#linkedin"></use>
                    </svg>  
            </span>
        </div>
        <div class="px-3 is-flex is-align-items-center" @click="gotoInstagram">
            <span class="icon is-large">
                <svg stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <use xlink:href="~feather#instagram"></use>
                </svg>
            </span>
        </div>
        <div class="px-3 is-flex is-align-items-center" @click="gotoContactMe">
            <span class="icon is-large">
                <svg stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <use xlink:href="~feather#mail"></use>
                </svg>
            </span>
        </div>
    </div>
</div>