<div class="project-card">
    <div class="card">
        <div class="card-image">
            <figure class="image is">
                <!-- Enter Image -->
                <img :src="image" alt="Image">
            </figure>
        </div>
        <div class="card-content">
            <div class="media">
                <div class="media-content">
                    <!-- Enter Project Name -->
                    <p class="title is-4">{{ title }}</p>
                    <!-- Enter Location -->
                    <p class="subtitle is-6">{{ location }}</p>
                </div>
            </div>
    
                <!-- Enter Description -->
                <p class="subtitle is-6">
                    {{ description }}
                </p>
                <p class="is-size-6 has-text-weight-bold">Tools and APIs</p>
    
                <!-- Enter Task -->
                <a v-for="tool in tools" class="is-size-6"><strong>{{ tool }} </strong></a>
    
                <br><br><small>{{ date }}</small>
            </div>
        </div>
    </div>
</div>
