.start {
    .ml2 {
        color: white;

        .letter {
            display: inline-block;
            line-height: 1em;
        }
    }

    .ml7 {
        position: relative;
    }

    .ml7 .text-wrapper {
        position: relative;
        display: inline-block;
        padding-top: 0.2em;
        padding-right: 0.05em;
        padding-bottom: 0.1em;
        overflow: hidden;
    }

    .ml7 .letter {
        color: white;
        transform-origin: 0 100%;
        display: inline-block;
        line-height: 1em;
    }

    .floating-image {
        height: 300px;

        .ben-blue {
            width: 256px;
            height: 256px;
        }
    }

    .bg-image {
        background: rgba(0, 0, 0, 0.5);
        background-blend-mode: darken;
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: center;
        background-position-y: center;
        background-image: url("./image/start-background.jpg");
    }
}
